name: Build and Push Docker image

on:
  push:
    branches: [ 2.x, SOFTWARE-5673.osg23-image ]
    paths:
      - '.github/workflows/build-sw-container.yml'
      - 'osg-pilot-container/**'
      - 'common/**'
  repository_dispatch:
    types:
      - dispatch-build
  workflow_dispatch:

jobs:
  make-date-tag:
    runs-on: ubuntu-latest
    outputs:
      dtag: ${{ steps.mkdatetag.outputs.dtag }}
    steps:
    - name: make date tag
      id: mkdatetag
      run: echo "dtag=$(date +%Y%m%d-%H%M)" >> $GITHUB_OUTPUT

  build:
    runs-on: ubuntu-latest
    needs: [make-date-tag]
    strategy:
      fail-fast: false
      matrix:
        osg_series: ['23']
        os: ['el9']
        repo: ['development', 'testing', 'release']
    steps:
      - id: custom-image-name
        env:
          SERIES: ${{ matrix.osg_series }}
          REPO: ${{ matrix.repo }}
          OS: ${{ matrix.os }}
        run: |
          echo "output_image=gratia-ospool-ep-container:${SERIES}-${REPO}" >> ${GITHUB_OUTPUT}

      - uses: opensciencegrid/build-container-action@v0.6.0
        with:
          base_os: ${{ matrix.os }}
          osg_series: ${{ matrix.osg_series }}
          osg_repo: ${{ matrix.repo }}
          push_image: ${{ github.ref == 'refs/heads/main' && github.event_name != 'pull_request' && github.repository_owner == 'opensciencegrid'}}
          registry_url: hub.opensciencegrid.org
          registry_user: ${{ secrets.OSG_HARBOR_ROBOT_USER }}
          registry_pass: ${{ secrets.OSG_HARBOR_ROBOT_PASSWORD }}
          output_image: ${{ steps.custom-image-name.outputs.output_image }}
